<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwOnConfigExceptions="true">

  <!-- Internal Logging for Troubleshooting -->
  <internalLogFile value="D:\temp\nlog-internal.log" />
  <internalLogLevel value="Trace" />

  <targets>
    <!-- Log to File with JSON Layout -->
    <target name="jsonFile" xsi:type="File"
            fileName="D:\logs\app-log.json"
            layout="{
                        &quot;level&quot;: &quot;${level}&quot;,
                        &quot;message&quot;: &quot;${message}&quot;,
                        &quot;timestamp&quot;: &quot;${longdate}&quot;
                      }" />

    <!-- Log to Console with JSON Layout -->
    <target name="jsonConsole" xsi:type="Console"
            layout="{
                        &quot;level&quot;: &quot;${level}&quot;,
                        &quot;message&quot;: &quot;${message}&quot;,
                        &quot;timestamp&quot;: &quot;${longdate}&quot;
                      }" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonFile,jsonConsole" />
  </rules>
</nlog>
