<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwOnConfigExceptions="true">

  <internalLogFile value="D:\temp\nlog-internal.log" />
  <internalLogLevel value="Trace" />

  <extensions>
    <add assembly="DockerLearning.Common.Api, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
         type="DockerLearning.Common.Api.Utilities.CustomJsonLayoutRenderer, DockerLearning.Common.Api" />
  </extensions>

  <targets>
    <target name="jsonFile" xsi:type="File"
            fileName="D:\logs\app-log.json"
            layout="${customJsonLayout}" />

    <target name="jsonConsole" xsi:type="Console"
            layout="${customJsonLayout}" />
  </targets>

  <rules>
    <!--<logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Warn" writeTo="jsonFile,jsonConsole" final="true" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="jsonFile,jsonConsole" final="true" />
    <logger name="System.*" minlevel="Warn" writeTo="jsonFile,jsonConsole" final="true" />-->

    <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Warn" writeTo="microsoftFile" final="true" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="microsoftFile" final="true" />
    <logger name="System.*" minlevel="Warn" writeTo="microsoftFile" final="true" />

    <logger name="*" minlevel="Trace" writeTo="jsonFile,jsonConsole" />
  </rules>

</nlog>