<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwOnConfigExceptions="true">

  <targets>
    <target name="file" xsi:type="File"
            fileName="C:\inetpub\wwwroot\logs\app-log.txt"
            archiveFileName="C:\inetpub\wwwroot\logs\archives\app-log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            archiveAboveSize="5242880"
            maxArchiveFiles="90"
            layout="${json-event-layout}" />
    <target name="console" xsi:type="Console" layout="${json-event-layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>

  <layouts>
    <layout name="json-event-layout" xsi:type="JsonLayout">
      <attribute name="time" layout="${longdate}" />
      <attribute name="level" layout="${level:upperCase=true}" />
      <attribute name="logger" layout="${logger}" />
      <attribute name="message" layout="${message}" />
      <attribute name="properties" layout="${all-event-properties}" />
      <attribute name="exception" layout="${exception:format=toString}" />
    </layout>
  </layouts>
</nlog>