<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwOnConfigExceptions="true">

  <targets>
    <target name="default" xsi:type="File" layout="${message}" fileName="/inetpub/wwwroot/logs/app-log.txt" archiveFileName="/inetpub/wwwroot/logs/archives/app-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" archiveAboveSize="5242880" maxArchiveFiles="90" />
    <target name="console" xsi:type="Console" layout="${message}" />
  </targets>
  <rules>
    <!--<logger name="*" level="TRACE" writeTo="default, console" />
    <logger name="*" level="WARN" writeTo="default, console" />
    <logger name="*" level="ERROR" writeTo="default, console" />
    <logger name="*" level="FATAL" writeTo="default, console" />-->
    <logger name="Microsoft.*" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console,default" />
  </rules>

</nlog>